<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Sherlock the card game{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" type="favicon/x-icon" href="/public/assets/images/icon.png">
    <script src="https://kit.fontawesome.com/687ed3dc70.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block header %}

    
    <!-- header -->

  <!--   <nav class="banner">
        <img src="/assets/images/banner.png" alt="">
    </nav> -->

    {% endblock %}


    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
    {% block footer %}{% endblock %}
</body>

</html>