{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/aboutstyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet"> 
{% endblock %}




{% block content %}

<div class="aboutus">
    <h1>About us</h1>
    <p>
    L'équipe Sherlock Holmes, c'est deux gars et une fille. <br/>
    Emilianno, Gwilherm et Jessie.
    Nous sommes trois développeurs en devenir, qui ont une passion pour ce qu'ils font. 
    A travers ce projet, nous souhaitons partager notre goût pour l'aventure, pour les mystères et pour l'univers de Sherlock Holmes. <br/>
    Ce projet est réalisé dans le cadre de notre formation de développeur web à la Wild Code School à Nantes.</p>
</div>


<!-- footer -->

<div class="footer">


    <div class="about">
        <a href="/sherlock/aboutus">About us</a>
    </div>


    <div class="thanks">
        <a href="/sherlock/thanks">thanks</a>
    </div>


    <div class="contact">
       <h3>Contact</h3>
        <div class="social">
            <div class="instagram">
                <i class="fab fa-instagram"></i>
            </div>

            <div class="facebook">
                <i class="fab fa-facebook"></i>
            </div>

            <div class="twitter">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>


</div>



{% endblock %}