{% block stylesheet %}<link rel="stylesheet" href="/assets/css/adminstyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/687ed3dc70.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<center>
    <img class="logo" src="/assets/images/icon.png" alt="logo">
    <br/>

<nav>
    <ul>
    <li><a href="/sherlock/adminQuestions">Questions</a></li>
    <li><a href="/sherlock/adminIndices">Indices</a></li>
    <li><a href="/sherlock/adminEnigmes">Enigmes</a></li>
    <li><a href="">Déconnexion</a></li>
    </ul>
</nav>

{% set i=1 %}
{% for question in questions %} 
    <form action="adminQuestions" method="post">
        <div class="questions-edit">
            <label for="question1"> Question {{i}} : </label>
            <br/>
            <input type="text" id="question1" name="question1" value="{{question.intitule}}">
            <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
            <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
            <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span> 
        </div>
    </form>
    {% set i = i+1 %}
{% endfor %}

<form action="" method="post">
    <div class="question1">
        <label for="intitule"> Ajouter une question : </label>
        <br/>
        <input type="text" id="intitule" name="intitule">
    </div>
    <input type="submit" value="Ajouter ma question">
</form>

<div class="retourPageAccueil">
            <a href="/sherlock/home"><input type="submit" value="Retour sur la page d'accueil"></a>
</div>
{% endblock %}