{% block stylesheet %}<link rel="stylesheet" href="/assets/css/adminstyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/687ed3dc70.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<center>
    <img class="logo" src="/assets/images/icon.png" alt="logo">
    <br/>
</center>

<nav>
    <ul>
    <li><a href="/sherlock/adminIndices">Indices</a></li>
    <li><a href="/sherlock/adminEnigmes">Enigmes</a></li>
    <li><a href="">Déconnexion</a></li>
    </ul>
</nav>

<div class="form">
    <div class="form-left">
        <form action="adminEnigmes" method="post">
            <div class="enigme1">
                <label for="enigme1"> Enigme 1 : </label>
                <br/>
                <input type="text" id="enigme1" name="enigme1">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span> 
            </div>
            
            <div class="enigme2">
                <label for="enigme2"> Enigme 2 : </label>
                <br/>
                <input type="text" id="enigme2" name="enigme2" >
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
                
            </div>
            
            <div class="enigme3">
                <label for="enigme3"> Enigme 3 : </label>
                <br/>
                <input type="text" id="enigme3" name="enigme3">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="enigme4">
                <label for="enigme4"> Enigme 4 : </label>
                <br/>
                <input type="text" id="enigme4" name="enigme4">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="enigme5">
                <label for="enigme5"> Enigme 5 : </label>
                <br/>
                <input type="text" id="enigme5" name="enigme5">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
        </form>
    </div>
</div>

<div class="retourPageAccueil">
            <a href="/sherlock/home"><input type="submit" value="Retour sur la page d'accueil"></a>
</div>
{% endblock %}