{% block stylesheet %}<link rel="stylesheet" href="/assets/css/adminstyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet"> 
<script src="https://kit.fontawesome.com/687ed3dc70.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<center>
    <img class="logo" src="/assets/images/icon.png" alt="logo">
    <br/>

<nav>
    <ul>
    <li><a href="/sherlock/adminQuestions">Questions</a></li>
    <li><a href="/sherlock/adminPreuves">Preuves</a></li>
    <li><a href="/sherlock/adminIndices">Indices</a></li>
    <li><a href="/sherlock/adminTemoignages">Témoignages</a></li>
    <li><a href="/sherlock/adminEnigmes">Enigmes</a></li>
    </ul>
</nav>

<div class="form">
    <div class="form-left">
        <form action="adminTemoignages" method="post">
            <div class="temoignage1">
                <label for="temoignage1"> Témoignage 1 : </label>
                <br/>
                <input type="text" id="temoignage1" name="temoignage1">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage2">
                <label for="temoignage2"> Témoignage 2 : </label>
                <br/>
                <input type="text" id="temoignage2" name="temoignage2" >
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
                
            </div>
            
            <div class="temoignage3">
                <label for="temoignage3"> Témoignage 3 : </label>
                <br/>
                <input type="text" id="temoignage3" name="temoignage3">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage4">
                <label for="temoignage4"> Témoignage 4 : </label>
                <br/>
                <input type="text" id="temoignage4" name="temoignage4">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage5">
                <label for="temoignage5"> Témoignage 5 : </label>
                <br/>
                <input type="text" id="temoignage5" name="temoignage5">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
        </form>
    </div>

    <div class="form-right">
        <form action="admintemoignages" method="post">
            <div class="temoignage6">
                <label for="temoignage6"> Témoignage 6 : </label>
                <br/>
                <input type="text" id="temoignage6" name="temoignage6">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage7">
                <label for="temoignage7"> Témoignage 7 : </label>
                <br/>
                <input type="text" id="temoignage7" name="temoignage7">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage8">
                <label for="temoignage8"> Témoignage 8 : </label>
                <br/>
                <input type="text" id="temoignage8" name="temoignage8">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage9">
                <label for="temoignage9"> Témoignage 9 : </label>
                <br/>
                <input type="text" id="temoignage9" name="temoignage9">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
            
            <div class="temoignage10">
                <label for="temoignage10"> Témoignage 10 : </label>
                <br/>
                <input type="text" id="temoignage10" name="temoignage10">
                <span  id="eyeslash" style=" color: #FFFFFF;"><i class="fas fa-eye-slash"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-pencil-alt"></i></span>
                <span  id="pencil" style=" color: #FFFFFF;"><i class="fas fa-trash-alt"></i></span>
            </div>
        </form>
    </div>
</div>

<div class="retourPageAccueil">
            <a href="/sherlock/home"><input type="submit" value="Retour sur la page d'accueil"></a>
</div>
{% endblock %}