{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/scenariostyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- banner -->



<div class="bodypage">
    <!-- barre lateral gauche -->
    <div class="aside-left">
        <div class="indicecarte">
            <img class="loupe" src="/assets/images/loupe_2.png" alt="" height="300px">
            <div class="indices">
                <div class="texteindice">
                    <h3>Les indices</h3>
                </div>
            </div>


            <!-- buton play -->
            <div class="buton">
                <a href="/sherlock/game"><img class="button_valider" src="/assets/images/play.png" alt="boutton valider"
                        width="180px"></a>
            </div>
            </aside>
        </div>


    <!-- enigme -->
  
    <!-- body pag 2 -->


    <div class="center">


        <center>


            <!-- enigme -->
            <div class="enigme">
                <h2>Choississez votre énigme :</h2>

                {% for scenario in enigmes %}
                <li>
                    {{scenario.titre}}
                </li>
                {% endfor %}
            </div>

            <div class="histoire">
                <div class="textehistoire">
                    <h2>Le meurtre de Rose-marie Mayer</h2>
                    <p>Nous sommes le mardi 13 Novembre 1883. <br />
                        Vous incarnez le personnage du Dr Watson, célèbre assistant du plus grand enquêteur du XIXème
                        siècle,
                        Sherlock Holmes. <br />
                        Très tôt ce matin, Sherlock Holmes a reçu un télégramme de l'inspecteur de police Jack Stapleton
                        :
                        <br />
                        "Nous avons retrouvé le corps d'une jeune femme à 6h ce matin. Madame Rose-Marie Mayer. <br />
                        Elle a été retrouvée morte dans son salon, à l'angle de la 13ème de BakerStreet à Londres.
                        <br />
                        D'après l'estimation de notre légiste,
                    </p>

                </div>
            </div>
        </center>
    </div>
    <!-- barre lateral droit -->

    <div class="aside-right">
        <h2>Les suspects</h2>

        <!-- cards -->
        <div class="cartes">
            <div class="moriartycard">
                <div class="titremoriartycard"><img src="/assets/images/titre_carte_moriarty.png" alt="titremoriarty">
                </div>
                <div class="moriartyimg"><img src="/assets/images/img_moriarty.png" alt="moriarty"></div>
                <div class="textemoriartycard"><img src="/assets/images/texte_carte_moriarty.png" alt="textemoriarty">
                </div>
            </div>

            <div class="bakercard">
                <div class="titrebakercard"><img src="/assets/images/titre_carte_baker.png" alt="titrebaker"></div>
                <div class="bakerimg"><img src="/assets/images/img_baker.png" alt="baker"></div>
                <div class="textebakercard"><img src="/assets/images/texte_baker_carte.png" alt="textebaker"></div>
            </div>

            <div class="jamescard">
                <div class="titrejamescard"><img src="/assets/images/titre_carte_james.png" alt="titrejames"></div>
                <div class="jamesimg"><img src="/assets/images/img_james.png" alt="james"></div>
                <div class="textejamescard"><img src="/assets/images/texte_carte_james.png" alt="textejames"></div>
            </div>
        </div>
    </div>


</div>



{% endblock %}