{% extends 'layout.html.twig' %}

{% block content %}

<!-- banner -->



<!-- barre lateral gauche -->
<div class="aside-left">
    <aside>
        <h2>Les indices</h2>

<!-- buton play -->
        <div class="buton">
          <a href="/sherlock/game">Play</a>
        </div>
    </aside>
</div>


<!-- body pag 2 -->


<div class="center">

    <!-- carte london -->



    <!-- enigme -->
    <div class="enigme">

        <h2>Choississez votre énigme :</h2>
        <li>
        {% for scenario in enigmes %}
            {{scenario.titre}}
        {% endfor %}
        </li>
    </div>

</div>



<!-- barre lateral droit -->

<div class="aside-right">
    <aside>
        <h2>Les suspects</h2>

<!-- cards -->
        <div class="cards">

        </div>
    </aside>
</div>

</div>



{% endblock %}