{% extends 'layout.html.twig' %}

{% block content %}
    <!-- banner -->



<!-- barre lateral gauche -->
<div class="aside-left">
    <aside>
        <h2>Les indices</h2>

        <h2>Je veux parler à l’inspecteur</h2>
<!-- buton go -->

        <div class="buton">
          <a href="">Go</a>
        </div>
    </aside>
</div>


<!-- body pag 3 -->


<div class="center">


    <!-- histoire -->
    <div class="histoire">
        <h2>histoire</h2>
        <p>Le bibliothécaire Sean McNulty a été assassiné !
            C’est la chercheuse Rose-Mary Baken qui a retrouvé son corps dans son bureau ! Heuresement,watson se
            trouvait à la bibliothèque et le secteur a rapidement été bouclé.
            Sherlock Holmes a réussi à identifier 3 suspects,mais il n’arrive pas à identifier le coupable,il t’as donc
            appelé à la rescousse pour que tu identifie toi même le vrai coupable !</p>
    </div>

</div>



<!-- barre lateral droit -->

<div class="aside-right">
    <aside>
        <h2>Les suspects</h2>

<!-- cards -->
        <div class="cards">

        </div>
    </aside>
</div>

</div>
{% endblock %}
