{% extends 'layout.html.twig' %}

{% block content %}
    <!-- banner -->



<!-- barre lateral gauche -->
<div class="aside-left">
    <aside>
        <div class="indices">
        <h2>Les indices</h2>
        </div>

        <h2>Je veux parler à l’inspecteur</h2>
<!-- buton go -->

        <div class="buton">
          <a href="/sherlock/police">Valider</a>
        </div>
    </aside>
</div>


<!-- body pag 3 -->


<div class="center">


    <!-- histoire -->
    <div class="histoire">
        <h2>Le meurtre de Rose-marie Mayer</h2>
        <p>Nous sommes le mardi 13 Novembre 1883. <br/>
        Vous incarnez le personnage du Dr Watson, célèbre assistant du plus grand enquêteur du XIXème siècle, Sherlock Holmes. 
        Très tôt ce matin, Sherlock Holmes a reçu un télégramme de l'inspecteur de police Jack Stapleton  : <br/>
        "Nous avons retrouvé le corps d'une jeune femme à 6h ce matin. Madame Rose-Marie Mayer. 
        Elle a été retrouvée morte dans son salon, à l'angle de la 13ème de BakerStreet à Londres. 
        D'après l'estimation de notre légiste, son meurtre a été commis aux alentours de minuit. 
        Nous n'avons pas trouvé de traces de coups et de blessures sur le corps. 
        La fouille de la maison n'a révélé que très peu d'indices. 
        Cependant une étrange odeur embaumait la maison, une odeur d'amande amère. 
        J'ai besoin de vous, Sherlock Holmes, pour résoudre cette enquête. 
        Je sais que vous êtes déjà sur une autre enquête, sur la disparition du chimiste, le professeur Clay Millington. 
        Mais peut-être que votre coéquipier, le dr Watson peut vous aider à résoudre cette enquête ?
        J'attends votre réponse dans les plus brefs délais. Signé l'inspecteur Jack Stapleton." <br/>
        Sherlock Holmes s'est déjà penché sur l'enquête. Il a identifié trois suspects. 
        Il vous demande à vous, Dr Watson de les interroger. D'après une liste de 6 questions que vous a préparé Sherlock Holmes, vous devez n'en choisir que trois à poser pour chaque suspect.
        Mais sont-elle toutes pertinentes ? <br/>
        Les réponses des suspects se présenteront sous forme de carte de trois types : des indices, des preuves ou des témoignages.
        Attention, les suspects peuvent vous emmener vers de fausses pistes ! <br/>
        A vous de choisir les bonnes questions.. <br/>
        A vous de jouer ! <br/>
        Les suspects ont été interpellés et arrêtés dès le lendemain du meurtre. <br/>
        La liste de preuves relevés sur la scène de crime : <br/>
        <ul>
            <li> des cendres provenant d'un cigare composé de tabac indien </li>
            <li> quelques graviers retrouvés sur le paillasson d'entrée de madame Rose-marie Mayer </li>
            <li>Les scientifiques sont en pleine recherche sur l'odeur d'amande dans la maison, une odeur volatile, mais d'où peut-elle venir ?</li>
        </ul>
         </p>
    </div>

</div>



<!-- barre lateral droit -->

<div class="aside-right">
    <aside>
        <h2>Les suspects</h2>

<!-- cards -->
        <div class="cards">
            <div class="moriartycard">
            </div>

            <div class="w.bakercard">
            </div>

            <div class="pr.jamescard">
            </div>
        </div>
    </aside>
</div>

</div>
{% endblock %}
