{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/homestyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
{% endblock %}



{% block header %}

<nav class="banner">


    <img src="/assets/images/logohome.png" alt="">
    



</nav>



{% endblock %}

{% block content %}
<!-- banner -->



<!-- buton play -->



<a href="/sherlock/escenario">
    <div class="buton">
        <div class="play"></div>
        <p> Play</p>
    </div>
</a>




<!-- regles -->

<div class="regles">
    <h1>Regles</h1>
    <p>Sherlock Holmes est un jeu de cartes interactif qui te permet d'incarner un personnage de la célèbre fiction et d'élucider ta première enquête. Tu auras trois suspects à interroger. Attention, tu n'auras le droit de poser que trois questions par suspect.
    Tes interrogatoires t'apporteront des indices, des preuves ou des témoignages. A toi de trouver le bon coupable!  
    </p>
</div>

{% endblock %}


{% block footer %}

<!-- footer -->

<div class="footer">


    <div class="about">
        <a href="/sherlock/aboutus">About us</a>
    </div>


    <div class="thanks">
        <a href="/sherlock/thanks">thanks</a>
    </div>


    <div class="contact">
        <h3>Contact</h3>
        <div class="social">
            <div class="instagram">
                <i class="fab fa-instagram"></i>
            </div>

            <div class="facebook">
                <i class="fab fa-facebook"></i>
            </div>

            <div class="twitter">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>


</div>
{% endblock %}