{% extends 'layout.html.twig' %}

{% block content %}
<!-- banner -->



<!-- buton play -->

<div class="buton">
    <a href="">Play</a>
</div>



<!-- regles -->

<div class="regles">
    <h1>Regles</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ligula eros, iaculis non luctus eget, laoreet
        eget magna. Integer eleifend, mauris a ornare accumsan, augue risus consectetur lectus, eget pharetra velit
        metus vel velit. Fusce ac dignissim magna. Curabitur eu auctor quam. Morbi venenatis non felis sit amet
        pharetra. Nam a malesuada nisi, vel imperdiet neque. Phasellus sollicitudin lacinia felis eget pellentesque.
    </p>
</div>



<!-- footer -->


{% endblock %}