{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/homestyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet"> 
{% endblock %}



{% block header %}

<nav class="banner">
      
   
    <img src="/assets/images/logohome.png" alt="">
    
  

</nav>



{% endblock %}

{% block content %}
<!-- banner -->



<!-- buton play -->

<div class="buton">
    <div class="play"></div>
    <a href="/sherlock/escenario">Play</a>
</div>



<!-- regles -->

<div class="regles">
    <h1>Regles</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ligula eros, iaculis non luctus eget, laoreet
        eget magna. Integer eleifend, mauris a ornare accumsan, augue risus consectetur lectus, eget pharetra velit
        metus vel velit. Fusce ac dignissim magna. Curabitur eu auctor quam. Morbi venenatis non felis sit amet
        pharetra. Nam a malesuada nisi, vel imperdiet neque. Phasellus sollicitudin lacinia felis eget pellentesque.
    </p>
</div>

{% endblock %}


{% block footer %}

<!-- footer -->

<div class="footer">


    <div class="about-us">
        <a href="">About us</a>
    </div>


    <div class="thanks">
        <a href="">thanks</a>
    </div>


    <div class="social">
       <h3>Contact</h3>
        <div class="instagram">
            <i class="fab fa-instagram"></i>
        </div>

        <div class="facebook">
            <i class="fab fa-facebook"></i>
        </div>

        <div class="twitter">
            <i class="fab fa-twitter"></i>
        </div>
    </div>



</div>
{% endblock %}

