{% extends 'layout.html.twig' %}

{% block content %}
    
   <!-- banner -->



<!-- barre lateral gauche -->
<div class="aside-left">
    <aside>
        <h2>Les indices</h2>

       

<!-- body pag 4 -->


<div class="center">
<!-- plaque police -->


<!-- card chef police -->
    <div class="cards">

    </div>

    <h1>Qui est l’assassin ? </h1>

    
<!-- cards suspects-->
    <div class="cards">

    </div>

    <div class="buton">
        <a href="/sherlock/win">Valider mon choix </a>
      </div>

    
</div>





{% endblock %}
