{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/thanksstyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet"> 
{% endblock %}




{% block content %}

<div class="thanks">
    <h1>thanks</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ligula eros, iaculis non luctus eget, laoreet
        eget magna. Integer eleifend, mauris a ornare accumsan, augue risus consectetur lectus, eget pharetra velit
        metus vel velit. Fusce ac dignissim magna.

    </p>
</div>


<!-- footer -->

<div class="footer">


    <div class="about">
        <a href="/sherlock/aboutus">About us</a>
    </div>


    <div class="thank">
        <a href="/sherlock/thanks">thanks</a>
    </div>


    <div class="contact">
       <h3>Contact</h3>
        <div class="social">
            <div class="instagram">
                <i class="fab fa-instagram"></i>
            </div>

            <div class="facebook">
                <i class="fab fa-facebook"></i>
            </div>

            <div class="twitter">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>


</div>



{% endblock %}