body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    font-family: charmonman, bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.bodypage {
    display: flex;
    box-sizing: border-box;
}

.aside-left {
    position: relative;
    max-width: auto;
    max-height: auto;
    box-sizing: border-box;
    margin-left: 2%;
}

.indicecarte {
    position: relative;
}

.indicecarte img.loupe {
    position: absolute;
    width: 274.4px;
    height: 483.98px;
    left: 40%;
    top: 2%;
    transform: rotate(-23deg);
}

.aside-left h2 {
    color: rgb(226, 219, 209);
    text-align: center;
    margin-left: 1%;
}

.aside-left h3 {
    text-align: center;
    font-size: 25px;
}

.indices {
    max-width: auto;
    height: 700px;
    box-sizing: border-box;
    background-image: url("/assets/images/paper.jpg");
    background-size: cover;
    border-radius: 2%;
    margin-left: 5%;
}

.texteindice {
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.button {
    margin-left: 13%;
}

.histoire {
    max-width: auto;
    box-sizing: border-box;
    background-image: url("../images/parchemin.jpg");
    background-size: cover;
    margin-right: 7%;
    margin-left: 10%;
    border-radius: 2%;
    position: relative;
}

.histoire img.pen {
    position: absolute;
    width: 166.66px;
    height: 350px;
    left: 95%;
    top: 25%;
    transform: rotate(-7deg);
}

h2 {
    text-align: center;
}

.textehistoire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
    top: 1%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.aside-right {
    display: flex;
    flex-direction: column;
    color: rgb(226, 219, 209);
    max-width: 15%;
    margin-left: 5%;
    color: white;
}

.cartes img {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.moriartycard {
    width: 150px;
    height: 270px;
}

.moriartycard img {
    border-radius: 2%;
}

.bakercard {
    width: 150px;
    height: 270px;
    border-radius: 2%;
}

.bakercard img {
    border-radius: 2%;
}

.jamescard {
    width: 150px;
    height: 270px;
    border-radius: 2%;
}

.jamescard img {
    border-radius: 2%;
}

.questions {
    display: none;
}