body {
    background-image:url("../images/background.jpeg");
    background-size: cover;
    font-family: charmonman, bold;  
}

.bodypage {
    display: flex;
    box-sizing: border-box;
}


.aside-left {
    position: relative;
    max-width: auto;
    max-height: auto;
    box-sizing: border-box;
    margin-left:2%;
}


.aside-left h2 {
    color: rgb(226, 219, 209);
    text-align: center;
    margin-left: 1%;
}

.aside-left h3 {
    text-align: center;
    font-size: 25px;
}

.indices {
    max-width: auto;
    height: 700px;
    box-sizing: border-box;
    background-image: url("/assets/images/paper.jpg");
    background-size: cover;
    border-radius: 2%;
    margin-left: 5%;
}

.texteindice {
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.button {
    margin-left: 13%;
}


.histoire {
    max-width: auto;
    box-sizing: border-box;
    background-image: url("../images/parchemin.jpg");
    background-size:cover;
    margin-right:7%;
    margin-left:10%;
    border-radius: 2%;
}

h2 {
    text-align: center;
}
.textehistoire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:1%;
    top:1%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.aside-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width:20%;
    margin-bottom: 2%; 
    margin-left: 13%;  
}

.moriartycard {
    background-image: url("../images/parchemin.jpg");
    background-size:cover;
    padding: 20%;
    width: 150px;
    height: 240px;  
    position: relative;
    border-radius: 2%;
    margin-bottom:30%;
}

.moriartyimg img {
    height:40%;
    max-width: 75%;
    border-radius: 2%;
    display: block;
    box-sizing: border-box;
    position : absolute;
}

.titremoriartycard img {
    position: relative;
     margin-top: none;
}

.textemoriartycard {
    position: relative;
    top: 55%;
}

.bakercard {
    padding: 3%;
    background-image: url("../images/parchemin2.jpg");
    background-size:cover;
    padding: 20%;
    width: 150px;
    height: 240px;  
    position: relative;
    border-radius: 2%;
    margin-bottom:30%;
}

.bakerimg img {
    height:40%;
    max-width: 75%;
    border-radius: 2%;
    display: block;
    box-sizing: border-box;
    position : absolute;   
}

.titrebakercard img {
    position: relative;
    margin-top: none;
}

.textebakercard {
    position: relative;
    top: 55%; 
}

.jamescard {
    padding:3%;
    background-image: url("../images/parchemin3.jpg");
    background-size:cover;
    overflow: hidden;
    padding: 20%;
    width: 150px;
    height: 240px;
    position : relative;
    border-radius: 2%; 
}

.jamesimg img {
    height:40%;
    max-width: 75%;
    border-radius: 2%;
    display: block;
    box-sizing: border-box;
    position : absolute;
}

.titrejamescard img {
    position: relative;
    margin-top: none;
}

.textejamescard {
    position: relative;
    top: 55%;  
}

