body {
    background-image: url("../images/background_paper.png");
    background-size: cover;
    font-family: charmonman, bold;
    max-width: auto;
}

.bodypage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-left {
    position: relative;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    width: 18%;
}

.indicecarte {
    position: relative;
    width: 100%;
}

.indicecarte img.loupe {
    position: absolute;
    width: 274.4px;
    height: 483.98px;
    left: 40%;
    top: 2%;
    transform: rotate(-23deg);
}

.aside-left h3 {
    text-align: center;
    font-size: 25px;
}

.indices {
    max-width: auto;
    height: 700px;
    box-sizing: border-box;
    background-image: url("/assets/images/paper.jpg");
    background-size: cover;
    border-radius: 2%;
    margin-left: 5%;
}

.texteindice {
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.assassinh1 {
    color: rgb(226, 219, 209);
    margin-right: 15%;
    font-size: 25px;
}

.center {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.policeEtBadge {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.badge {
    width: 200px;
    height: 200px;
}

.carte_police {
    border-radius: 2%;
}

.cartes {
    display: flex;
    gap: 100px;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}

.moriartycard {
    padding: 5%;
    width: 150px;
    height: 270px;
}

.moriartycard img {
    border-radius: 2%;
}

.bakercard {
    padding: 5%;
    width: 150px;
    height: 270px;
    border-radius: 2%;
}

.bakercard img {
    border-radius: 2%;
}

.jamescard {
    padding: 5%;
    width: 150px;
    height: 270px;
    border-radius: 2%;
}

.jamescard img {
    border-radius: 2%;
}

.button img {
    width: 300px;
}

.button {
    margin-right: 15%;
}